<mat-toolbar color="danger">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Libreta de contactos</span>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddContactDialog()">Agregar contacto</button>
    <button mat-menu-item (click)="toggleTheme.emit()">Cambiar tema</button>
  </mat-menu>

</mat-toolbar>
